<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Xtream Chaser</title>
	<link rel="stylesheet" href="../Styles/style.css">
	<link rel="stylesheet" href="../Styles/character.css">
</head>
<body>
	<ul class="topnav">
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">Menu</a>
			<div class="dropdown-content">
				<a href="home.html">Home</a>
				<a href="galleries.html">Galleries</a>
				<a href="characters.html">Characters</a>
				<a href="lore.html">Lore</a>
				<a href="register.html">Pre-Register</a>
			</div>
		  </li>
	</ul>




	<div class="main-content">
		<!-- CODE GOES HERE -->
		<div class="character-list-container">
			<div class="character-container image-hover" id="character_img_1">
				<img class="responsive-img" src="../Image/zenyatta-1.jpg" alt="No image">
			</div>
			<div class="character-container image-hover" id="character_img_2">
				<img class="responsive-img" src="../Image/genji-1.png" alt="No image">
			</div>
			<div class="character-container image-hover" id="character_img_3">
				<img class="responsive-img" src="../Image/hanzo-1.png" alt="No image">
			</div>
		</div>


		<div class="lore-container">
			<div class="lore-img-wrapper">
				<img id="lore_img" class="responsive-img" src="../Image/zenyatta-1.jpg" alt="">
			</div>
			<div class="lore-desc-wrapper max-content">
				<h1 id="lore_title">Zenyatta</h1>
				<p id="lore_desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci veniam quo autem quos eius nam repellat earum dolorum consequuntur ut deserunt, consectetur corporis consequatur optio aut molestias explicabo excepturi sint.</p>
			</div>
		</div>


	</div>

	<!--footer-->
	<div class="footer-wrapper">
		<div class="footer-content center-align" id="footer-content">
			copyright
		</div>
	</div>
	
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../Scripts/layout.js"></script>
<script type="text/javascript" src="../Scripts/character.js"></script>

</html>