<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Xtream Chaser</title>
	<link rel="stylesheet" href="../Styles/style.css">
	<link rel="stylesheet" href="../Styles/lore.css">
</head>
<body>
	
	<ul class="topnav">
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">Menu</a>
			<div class="dropdown-content">
				<a href="home.html">Home</a>
				<a href="galleries.html">Galleries</a>
				<a href="characters.html">Characters</a>
				<a href="lore.html">Lore</a>
				<a href="register.html">Pre-Register</a>
			</div>
		  </li>
		</ul>

	<div class="main-content">
		<div class="container">
			<h1>THE LAND OF DAWN</h1>
			<div class="map">
				<img src="../Image/map.jpg" alt="map">
			</div>
			<div class="caption">
				<p>
					Taking place in the land of dawn, the 4 kingdoms live peacefully without any war. The people that live in this land don't know anything of weapons, martial arts, or even violence. But, one day, many people suddenly woke up with great power, this power is called Xtream, with each person's power is different from one another. Some uses this power for better good, but some uses it for destruction.
				</p>
				<p>
					Ifrit, the fire kingdom, one of the most peaceful kingdom, started to change. Lead by Au, the fire king with the power to control monsters, they start to conquer other kingdom's territories using their great power, and many have fallen to demise because of them. 
				</p>
				<p>
					However, the other 3 kingdoms won't fall so easily. 
					<ul>
						<li>Zenyatta, the monk prince of earth</li>
						<li>Genji Shimada, the ninja prince of wind</li>
						<li>Hanzo Shimada, the warrior prince of water</li>
					</ul>
					Together, they build an union, called the Xtream chaser, ready to chase away the invasion of the fire kingdom. It is up to the young prince of the 3 kingdoms, to work together, find more allies, level up, prepare their stronghold and weapon, in order to face the powerful fire kingdom. And so, another tale full of fighting and action begins in this sacred land.
				</p>
			</div>
		</div>
		<div class="kingdom-container">
			<div class="kingdom">
				<a href="../Image/fire.jpg">
					<img src="../Image/fire.jpg" alt="Fire Kingdom">
				</a>
			</div>
			<div class="news">
				<h3>
					Ifrit, the fire kingdom
				</h3>
				<p>
					The kingdom that used to be the most peaceful kingdom in the land of dawn, famous for its hot spring due to the fact that the kingdom itself is surrounded by volcano. But, ever since King Au has received the power of Xtream, he starts to change into a violent person, and aims to conquer the world for his own. Thus, this kingdom becomes the most fierce and powerful kingdom.
				</p>
			</div>
			<div class="kingdom">
				<a href="../Image/wind.jpg">
					<img src="../Image/wind.jpg" alt="Wind Kingdom">
				</a>
			</div>
			<div class="news">
				<h3>
					Calibur, the wind kingdom
				</h3>
				<p>
					The kingdom that is located above the sky between the clouds. Ruled by King Venus, the legendary ninja, this kingdom is inhabited with ninjas and is very famous with its technology, which allows the ninjas to fly and upgrade their body partially into machine. This fact alone claims that Calibur is the kingdom with the most impregnable defense.
				</p>
			</div>
			<div class="kingdom">
				<a href="../Image/water.jpg">
					<img src="../Image/water.jpg" alt="Water Kingdom">
				</a>
			</div>
			<div class="news">
				<h3>
					Atlantis, the water kingdom
				</h3>
				<p>
					The only kingdom that is ruled by a demi-god, King Aphen, the son of poseidon. This kingdom is the richest of the 4 kingdom, full of harbour cities with endless commerce. However, this is all merely a facade, the truly glory of this kingdom lies deep beneath the ocean protected by their most elite warriors.
				</p>
			</div>
			<div class="kingdom">
				<a href="../Image/earth.jpg">
					<img src="../Image/earth.jpg" alt="Earth Kingdom">
				</a>
			</div>
			<div class="news">
				<h3>
					Vulkan, the earth kingdom
				</h3>
				<p>
					The largest kingdom with the largest population in the whole land of dawn. This land alone is inhabited not only by humans, but also elves, dwarves, orcs, and hobbits that live together as the people of Vulkan. This kingdom is ruled by Alex the Wise, who is a half-blood king with the blood of elf and human, famous for his wisdom in ruling such a large kingdom.
				</p>
			</div>
		</div>
	</div>

	<!--footer-->
	<div class="footer-wrapper">
		<div class="footer-content center-align" id="footer-content">
			© 2020 Xtream Chaser Corporation
		</div>
	</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../Scripts/layout.js"></script>

</html>