<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Xtream Chaser</title>
	<link rel="stylesheet" href="../Styles/style.css">
</head>
<body>
	<div id="mySidenav" class="sidenav">
		<a href="home.html">Home</a>
		<a href="galleries.html">Galleries</a>
		<a href="characters.html">Characters</a>
		<a href="lore.html">Lore</a>
		<a href="register.html">Pre-Register</a>
	</div>

	<ul class="topnav">
		<li><a id="menu_dropdown">Menu</a></li>
	</ul>




	<div class="main-content">
		<!-- CODE GOES HERE -->
		<h1>Xtream Chaser</h1>
	</div>
	
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../Scripts/layout.js"></script>

</html>