<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Xtream Chaser</title>
	<link rel="stylesheet" href="../Styles/style.css">
	<link rel="stylesheet" href="../Styles/gallery.css">
</head>
<body>
	<ul class="topnav">
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">Menu</a>
			<div class="dropdown-content">
				<a href="home.html">Home</a>
				<a href="gallery.html">Galleries</a>
				<a href="characters.html">Characters</a>
				<a href="lore.html">Lore</a>
				<a href="register.html">Pre-Register</a>
			</div>
		  </li>
	</ul>

	<div class="main-content">				
		<div class="gallery-banner">
			<img src="../Image/genji.png" alt="banner">
		</div>
		<button type="button" class="expandable">EVENT</button>
		<div class="event-container">
			<div class="gallery">
					<img id="image-to-open1" class="image-to-open" src="../Image/minigame.jpg" alt="PVP Mode">
			</div>
			<div class="news">
				<h3>
					EXPLOSIVE PVP MODE
				</h3>
				<p>
					Calling all of our beta tester! Xtream Chaser first PVP mode is coming soon. This mode will be available during the next beta test on 12nd June 2020, and can be accessable for everyone who has registered as our Beta Tester! This PVP mode will be held on a special map and includes variety of guns and explosives, ranging from simple pistol until Bolt Action Rifles. Character that is used to play this mode won't get any experience, but will be able to acquire variety of rare gears that can't be acquired in our story mode.
				</p>
			</div>
			<div class="gallery">
					<img id="image-to-open2" class="image-to-open" src="../Image/new-hero.jpg" alt="New Hero">
			</div>
			<div class="news">
				<h3>
					NEW EXCLUSIVE HERO
				</h3>
				<p>
					Exclusive for our beta tester only! In initial release, this character will only be available after the story of our 3 main characters are completed, but for each and every one of our beta tester will get early access to the story mode of our new character! His name is still a secret, all that is known about him is that he holds a crucial part in the story of our cyborg ninja, Genji!
				</p>
			</div>
		</div>
		

		<button type="button" class="expandable">GAMEPLAY</button>
		<div class="gallery-container">
				<div class="gallery">
						<img id="image-to-open3" class="image-to-open" src="../Image/hanzo-gameplay.jpg" alt="Hanzo Gameplay">
					<div class="caption">Hanzo character gameplay</div>
				</div>

				<div class="gallery">
						<img id="image-to-open4" class="image-to-open" src="../Image/genji-gameplay.jpg" alt="Genji Gameplay">
					<div class="caption">Genji character gameplay</div>
				</div>
				
				<div class="gallery">
						<img id="image-to-open5" class="image-to-open" src="../Image/zenyatta-gameplay.jpg" alt="Zenyatta Gameplay">
					<div class="caption">Zenyatta character gameplay</div>
				</div>

				<div class="gallery">
						<img id="image-to-open6" class="image-to-open" src="../Image/boss.jpg" alt="Boss Battle">
					<div class="caption">Xtream Chaser Boss Battle</div>
				</div>
				
				<div class="gallery">
						<img id="image-to-open7" class="image-to-open" src="../Image/team-assemble.jpg" alt="Preparation Screen">
					<div class="caption">Xtream Chaser preparation screen</div>
				</div>
				
				<div class="gallery">
						<img id="image-to-open8" class="image-to-open" src="../Image/cgi.jpg" alt="CGI">
					<div class="caption">Xtream Chaser in-game CGI</div>
				</div>
		</div>

		<div id="modal-dialogue-box">
			<span id="x-close"> 
				X
			</span>
			<img id="modal-image">
			<div id="modal-image-caption">
			</div>
		</div>

	</div>
	
	<!--footer-->
	<div class="footer-wrapper">
		<div class="footer-content center-align" id="footer-content">
			© 2020 Xtream Chaser Corporation
		</div>
	</div>

</body>

<script type="text/javascript" src="../Scripts/gallery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../Scripts/layout.js"></script>

</html>