<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Xtream Chaser</title>
	<link rel="stylesheet" href="../Styles/style.css">
	<link rel="stylesheet" href="../Styles/home.css">
</head>
<body>
	<ul class="topnav">
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">Menu</a>
			<div class="dropdown-content">
				<a href="home.html">Home</a>
				<a href="gallery.html">Galleries</a>
				<a href="characters.html">Characters</a>
				<a href="lore.html">Lore</a>
				<a href="register.html">Pre-Register</a>
			</div>
		  </li>
		  <a href="home.html">
			<img src="../Image/Xtream Chaser.png" id="logo">
		  </a>
	</ul>

	<footer class="banner-wrapper">
		<img src="../Image/banner-xtream-chaser.png" class="responsive-img">
	</footer>



	<div class="main-content">

	<div class="slideshow-container">

		<div class="mySlides fade">
		<img class="responsive-img" src="../Image/pubg-1.jpg">
		</div>
	
		<div class="mySlides fade">
		<img class="responsive-img" src="../Image/godofwar-1.jpg">
		</div>
	
		<div class="mySlides fade">
		<img class="responsive-img"	src="../Image/lycan-1.jpg">
		</div>
	
		<a class="prev" id="btnPrev">&#10094;</a>
		<a class="next" id="btnNext">&#10095;</a>
	</div>
	<br>
	
	<div class="center-align">
		<span class="dot" id="dot1"></span>
		<span class="dot" id="dot2"></span>
		<span class="dot" id="dot3"></span>
	</div>


	<div class="text-wrapper">
		<h1>
			Xtream Chaser
		</h1>
		<p>
			Xtream Chaser is an action fighting game with a truly epic storyline that unfolds over several seasons, and wild beat-’em-up action set in the Land of Dawn. <br>
			Get to know the team’s personalities, and battle jaw-dropping monsters in classic arcade style!
		</p>
		<p>
			Join the Chasers and make them your perfect team. <br>
			Improve their skills, gather the strongest weapons, and outfit their headquarters with state-of-the-art equipment designed to savagely beat back the invaders. <br>
			Will the Chasers learn to work together in time? It is for you to decide
		</p>
	</div>
		
	


	</div>
	
	<div class="footer-wrapper">
		<div class="footer-content center-align" id="footer-content">
			© 2020 Xtream Chaser Corporation
		</div>
	</div>

</body>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="../Scripts/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="../Scripts/layout.js"></script>
<script type="text/javascript" src="../Scripts/home.js"></script>
</html>