<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Xtream Chaser</title>
	<link rel="stylesheet" href="../Styles/style.css">
	<link rel="stylesheet" href="../Styles/home.css">
</head>
<body>
	<ul class="topnav">
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">Menu</a>
			<div class="dropdown-content">
				<a href="home.html">Home</a>
				<a href="gallery.html">Galleries</a>
				<a href="characters.html">Characters</a>
				<a href="lore.html">Lore</a>
				<a href="register.html">Pre-Register</a>
			</div>
		  </li>
	</ul>


	<footer class="banner-wrapper">
		<img src="../Image/banner-xtream-chaser.png" class="responsive-img">
	</footer>



	<div class="main-content">
		<!-- CODE GOES HERE -->

	<div class="slideshow-container">

		<div class="mySlides fade">
		<img class="responsive-img" src="../Image/pubg-1.jpg">
		</div>
	
		<div class="mySlides fade">
		<img class="responsive-img" src="../Image/godofwar-1.jpg">
		</div>
	
		<div class="mySlides fade">
		<img class="responsive-img"	src="../Image/lycan-1.jpg">
		</div>
	
		<!-- Next and previous buttons -->
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>
	<br>

	<!-- The dots/circles -->
	<div class="center-align">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
	</div>


	<div class="text-wrapper">
		<h1>
			Xtream Chaser
		</h1>
		<!-- <p>
			In a pit there lived a beautiful, icy elf named Alucard (Marksman). Not a fat evil, scary pit, filled with glasses and a frosty smell, nor yet a magical, scrawny, grey pit with nothing in it to sit down on or to eat: it was an elf-pit, and that means shelter.
		</p>
		<p>
			One day, after a troubling visit from the dragon JessYesLimit (Support), Alucard leaves his pit and sets out in search of three peculiar spells. A quest undertaken in the company of youths, goblins and dirty robots. In the search for the dragon-guarded spells, Alucard (Marksman) surprises even himself with his patience and skill as a lawyer.
		</p>
		<p>
			During his travels, Alucard rescues a hat, an heirloom belonging to JessYesLimit. But when JessYesLimit refuses to try bouncing, their friendship is over. Can their friendship be united once again? It is for you to decide
		</p> -->
		<p>
			Xtream Chaser is an action fighting game with a truly epic storyline that unfolds over several seasons, and wild beat-’em-up action set in the Land of Dawn. <br>
			Get to know the team’s personalities, and battle jaw-dropping monsters in classic arcade style!
		</p>
		<p>
			Join the Chasers and make them your perfect team. <br>
			Improve their skills, gather the strongest weapons, and outfit their headquarters with state-of-the-art equipment designed to savagely beat back the invaders. <br>
			Will the Chasers learn to work together in time? It is for you to decide
		</p>
	</div>
		
	


	</div>
	
	<!--footer-->
	<div class="footer-wrapper">
		<div class="footer-content center-align" id="footer-content">
			© 2020 Xtream Chaser Corporation
		</div>
	</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../Scripts/layout.js"></script>
<script type="text/javascript" src="../Scripts/home.js"></script>
</html>