<html>
<head>
	<title>Xtream Chaser</title>
	<link rel="stylesheet" href="../Styles/style.css">
	<link rel="stylesheet" href="../Styles/register.css">
</head>
<body>
	<ul class="topnav">
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">Menu</a>
			<div class="dropdown-content">
				<a href="home.html">Home</a>
				<a href="gallery.html">Galleries</a>
				<a href="characters.html">Characters</a>
				<a href="lore.html">Lore</a>
				<a href="register.html">Pre-Register</a>
			</div>
		  </li>
		  <a href="home.html">
			<img src="../Image/Xtream Chaser.png" id="logo">
		  </a>
	</ul>

	<div class="main-content">
		<!-- CODE GOES HERE -->
		<div class="form-wrapper">
			<label for="email">Input your email</label>
			<input id="email" type="email" placeholder="example@domain.com">
			<div class="validation hide" id="email_validation"></div>

			<label for="username">Input your username</label>
			<input type="text" name="" id="username">
			<div class="validation hide" id="username_validation"></div>

			<label for="password">Input your password</label>
			<input type="password" name="" id="password">
			<div class="validation hide" id="password_validation"></div>

			<label for="gender">Choose your gender</label>
			<div class="left-align valign-wrapper">
				<input type="radio" name="gender" id="male">Male&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="gender" id="female">Female
			</div>
			<div class="validation hide" id="gender_validation"></div>

			<label for="DOB">Input your date of birth</label>
			<input type="text" name="" id="DOB" placeholder="dd-mm-yyyy">
			<div class="validation hide" id="dob_validation"></div>

			<label for="nationality">Choose your nationality</label>
			<select name="nationality" id="nationality">
				<option selected value="">Choose nationality</option>
				<option value="Erangel">Erangel</option>
				<option value="Miranmar">Miranmar</option>
				<option value="Sanhok">Sanhok</option>
				<option value="Other">Other</option>
			</select>
			<div class="validation hide" id="nationality_validation"></div>

			<div class="left-align valign-wrapper clickable" id="checkbox_wrapper">
				<input type="checkbox" class="clickable" id="checkbox"> <span id="checkbox_label">I agree to terms and condition.</span>
			</div>
			<div class="validation hide" id="checkbox_validation"></div>

			<div class="center-align submit-btn-wrapper">
				<div type="submit" class="button" id="btn_submit">
					<p>Submit</p>
				</div>
			</div>

		</div>

	</div>

	<!--footer-->
	<div class="footer-wrapper">
		<div class="footer-content center-align" id="footer-content">
			© 2020 Xtream Chaser Corporation
		</div>
	</div>


	<a href="../Views/home.html" class="hide" id="redirect_div">dont click me</a>
	
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="../Scripts/layout.js"></script>
<script type="text/javascript" src="../Scripts/register.js"></script>

</html>