* {
    box-sizing: border-box;
}

.gallery-banner {
    display: inline;
}

.gallery-banner img{
    max-width: 100%;
    height: auto;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: 0.5s;
    overflow: hidden;
    max-height: 0;
}

.event-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    transition: 0.5s;
    overflow: hidden;
    max-height: 0;
}

.expandable {
    cursor: pointer;
    background-color: #ffffff20;
    width: 100%;
    text-align: left;
    font-size: 15px;
    color: white;
    font-family: monospace;
    outline: none;
    padding: 12px;
}

.expandable:hover {
    background-color: #ffffff07;
}

.expandable:after{
    content: '+';
    float: right;
}

.active:after {
    content: '-';
}

.active {
    background-color: #ffffff07;
}

h2{
    text-align: center;
    color: #ffffff;
    font-family: monospace;
}

.gallery {
    border: 1px solid #ffffff5e;
    margin: 10px;
}
  
.gallery:hover {
    border: 1px solid #FDEE30;
}
  
.gallery img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
  
.caption {
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    padding: 10px;
}

h3 {
    text-align: left;
    color: #ffffff;
    font-family: monospace;
}

.news {
    text-align: left;
    color: #ffffff;
    font-family: monospace;
    padding: 10px;
}

#modal-dialogue-box {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 8%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color:  rgba(0,0,0,0.75);
    display: none;
}
  
#modal-image {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
  
#modal-image-caption {
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
}

#x-close {
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 60px;
}  

@media only screen and (max-width: 800px) {
    .gallery-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .event-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    #modal-dialogue-box {
        position: fixed;
        width: 100%;
        height: 100%;
        padding-top: 40%;
        top: 0;
        left: 0;
        z-index: 10;
        background-color:  rgba(0,0,0,0.75);
        display: none;
    }

    #modal-image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
      
}