.hide {
    display: none;
}

.validation {
    color: violet;
    font-size: 16px;
}

.main-content {
    height: auto;
}

@media only screen and (max-width: 800px) {
    #checkbox_label {
        font-size: 11px;
    }
  }